*__pycache__*
.ipynb_checkpoints/

datasets/synth*
datasets/hpatches-sequences-release/
extracted_features/
evaluation/results/


src/weights/*

trained_models/weights/*
trained_models/best_model.tar.gz



temp_dir/

trained_models/release_group36_f2_s2_t2.log